<!DOCTYPE html>
<html class='no-js'>
  <head>
    <meta charset='utf-8'>

    <title>Lou Huang</title>
    <meta name='description' content='Lou Huang is an urban designer and front-end web developer who uses technology to improve cities.'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <meta property='og:title' content='Lou Huang'>
    <meta property='og:type' content='website'>
    <meta property='og:url' content='http://louhuang.com/'>
    <meta property='og:image' content='http://louhuang.com/img/portrait.jpg'>

    <meta name='twitter:card' content='summary_large_image'>
    <meta name='twitter:site' content='@saikofish'>
    <meta name='twitter:title' content='Lou Huang'>
    <meta name='twitter:description' content='Lou Huang is an urban designer and front-end web developer who uses technology to improve cities.'>
    <meta name='twitter:image:src' content='http://louhuang.com/img/portrait.jpg'>
    <meta name='twitter:domain' content='louhuang.com'>
    <meta name='twitter:creator' content='@saikofish'>

    <link rel='shortcut icon' href='/favicon.ico'>

    <link rel='stylesheet' href='/stylesheets/styles.css'>
    <script src='/js/vendor/modernizr.js'></script>
  </head>
  <body>
    <!--[if lte IE 9]>
    <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class='top-bar-container contain-to-grid sticky'>
  <nav class='top-bar' data-topbar>
    <ul class='title-area'>
      <li class='name'>
        <a href='/'>
          <div class='logo'></div>
          <h1>
            Lou Huang
          </h1>
        </a>
      </li>
      <li class='toggle-topbar menu-icon'><a href='#'></a></li>
    </ul>
    <section class='top-bar-section'>
      <ul class='right social-icons'>
        <li class='show-for-small'>
          <a href='/#portfolio'><i class='fi-thumbnails'></i> <span>Portfolio</span></a>
        </li>
        <li class='show-for-small'>
          <a href='/resume/'><i class='fi-page-filled'></i> <span>Resume</span></a>
        </li>
        <li class='show-for-small'>
          <a href='/#talks'><i class='fi-video'></i> <span>Talks</span></a>
        </li>
        <li>
          <a href='https://twitter.com/saikofish' target='_blank'><i class='fi-social-twitter'></i> <span>Twitter @saikofish</span></a>
        </li>
        <li>
          <a href='http://www.linkedin.com/in/louhuang' target='_blank'><i class='fi-social-linkedin'></i> <span>LinkedIn</span></a>
        </li>
        <li>
          <a href='https://github.com/louh/' target='_blank'><i class='fi-social-github'></i> <span>GitHub @louh</span></a>
        </li>
        <li class='hide-for-small'>
          <a href='http://instagram.com/saikofish?ref=badge' target='_blank'><i class='fi-social-instagram'></i></a>
        </li>
      </ul>
    </section>
  </nav>
</div>

    <div role='main' class='content'>

      <section id='main'>

  <section id='about'>
    <div class='row'>
      <div class='large-4 medium-5 columns'>
        <div class='portrait'></div>
      </div>
      <div class='large-8 medium-7 columns'>
        <div class='bio'>
          <h2>Hi! I’m Lou.</h2>

          <p>
            I am an urban designer and front-end web developer from San Francisco, currently based in Washington, D.C. I use technology to improve cities and build better communities.
          </p>

          <p>
            Recovering architect, 2013 fellow at Code for America, and LEED-ND accredited. I design for exceptional user experience, work with maps and open data, write about <a href='#write'>iterative placemaking</a>, and speak about <a href='#talks'>civic engagement in a digital world</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id='projects' class='background-2'>
    <div class='row'>
      <div class='large-12 columns'>
        <h3>Here are some of my recent projects.</h3>
      </div>
    </div>
    <div class='preloader'></div>
    <!-- Current / featured project templates are appended here -->
  </section>

  <section id='portfolio'>
    <div class='row'>
      <div class='large-12 columns'>
        <h3>These are some other things I've made.</h3>
      </div>
      <div class='large-12 columns hide-for-small'>
        <ul class='button-group'>
          <li><a href='#' class='small button filter' data-type='web'>Web</a></li>
          <li><a href='#' class='small button filter' data-type='urbandesign'>Urban Design</a></li>
          <li><a href='#' class='small button filter' data-type='architecture'>Architecture</a></li>
          <li><a href='#' class='small button filter' data-type='other'>Miscellaneous</a></li>
        </ul>
      </div>
      <div class='large-12 columns'>

        <ul class='small-block-grid-2 medium-block-grid-3' id='portfolio-grid'>
          <!-- To be replaced with project grid item template -->
        </ul>

        <div class='preloader'></div>

      </div>
    </div>
  </section>

  <section id='talks' class='background-2'>
    <div class='row'>
      <div class='large-12 columns'>
        <h3>Here is a presentation I did recently.</h3>
      </div>
    </div>
    <div class='row'>
      <div class='large-7 medium-7 columns bleed'>
        <div class='widescreen flex-video'>
          <iframe width='480' height='270' src='//www.youtube.com/embed/6IPZ7lWc5D8?rel=0' style='border: 0;' allowfullscreen></iframe>
        </div>
      </div>
      <div class='large-5 medium-5 columns'>
        <h5>I was a speaker at these places too.</h5>
        <ul>
          <li><a href='http://nacto.org/designing-cities-sessions-2013/' target='_blank'>NACTO Designing Cities 2013</a> &mdash; <em>Phoenix, AZ</em> “Participatory Planning Applications and New Technologies”</li>
          <li><a href='http://cfasummit.org/' target='_blank'>Code for America Summit 2012</a> &mdash; <em>San Francisco, CA</em> “Minecraft: How a cult indie video game could be the next collaborative city planning tool” (Ignite)</li>
          <li><a href='http://sf.nerdnite.com/2012/06/12/nerd-nite-sf-25-video-games-urban-design-death-proof-cities-and-the-science-of-futurama/' target='_blank'>Nerd Nite San Francisco (#25)</a> &mdash; “An Open World: Playing in the Intersection of Video Games and Urban Design”</li>
          <li><a href='http://kevinlynchaward.mit.edu/' target='_blank'>2014 Kevin Lynch Award</a> &mdash; <em>MIT Media Lab, Boston, MA</em></li>
          <li><a href='http://newpartners.org/' target='_blank'>New Partners for Smart Growth 2014</a> &mdash;  <em>Denver, CO</em> “Tools that Empower: Leveraging Emerging Technologies to Dramatically Increase Public Participation”</li>
        </ul>
      </div>
    </div>
  </section>

  <section id='other'>
    <div class='row'>
      <div class='large-12 columns'>
        <h3>I've been busy!</h3>
      </div>
    </div>
    <div class='row'>
      <div class='medium-4 columns'>
        <h5 id='write'>I wrote some articles.</h5>

        <ul>
          <li><a href='http://www.codeforamerica.org/2013/06/19/lou-huang-why-im-coding-for-america/' target='_blank'>Why I'm Coding for America</a></li>
          <li><a href='http://www.codeforamerica.org/2013/04/25/lean-startups-and-the-rise-of-iterative-placemaking/' target='_blank'>Lean Startups and the Rise of Iterative Placemaking</a></li>
          <li><a href='http://govfresh.com/2013/11/gov-designer-lou-huang/' target='_blank'>GovFresh Designer Profile</a></li>
        </ul>
      </div>
      <div class='medium-4 columns'>
        <h5>... and do many other things.</h5>
        <ul>
          <li>You can also hear me on the <a href='http://www.strongtowns.org/strong-towns-podcast/2014/2/20/show-166-lou-huang-on-code-for-america.html' target='_blank'>Strong Towns Podcast</a>.</li>
          <li>I started a machine-readable dataset and API for the <a href='http://naics.codeforamerica.org/'>North American Industry Classification System (NAICS)</a>.</li>
        </ul>
      </div>
      <div class='medium-4 columns hide-for-small'>
        <h5>&nbsp;</h5>
        <ul>
          <li>I have been <a href='http://www.flickr.com/photos/lou' target='_blank'>a freelance photographer</a>.</li>
          <li>I love snowboarding.</li>
        </ul>
      </div>
    </div>
    <div class='row' style='margin-top: 30px;'>
      <div class='large-12 columns text-center'>
        <a href='/resume/' class='button'>View resume</a>
        <a href='/resume/louhuang-resume.pdf' class='button'>Download resume</a>
      </div>
    </div>
  </section>

  <section id='contact' class='background-2'>
    <div class='row'>
      <div class='large-12 columns'>
        <h3>I’d love to work with you on your next project.</h3>
      </div>
    </div>
    <div class='row'>
      <div class='medium-10 large-8 columns'>
        <p>Please get in touch if you’d like to connect with me on interesting projects that meet at the intersection of urban planning and technology. Bonus points for ideas that emphasize real placemaking and data-driven decision making, and cross-disciplinary teams with amazing people. You can reach me at <a href='mailto:lou@louhuang.com'>lou@louhuang.com</a>.</p>
      </div>
    </div>
  </section>

</section>

<section id='templates'>

  <script type='text/template' id='template-featured'>
    <div class='row'>
      <div class='large-8 large-push-4 medium-7 medium-push-5 columns bleed'>
        <a href='/portfolio/<%= id %>'><img src='portfolio/thumbnails/<%= id %>.png' width='100%' alt=''></a>
      </div>
      <div class='large-4 large-pull-8 medium-5 medium-pull-7 columns'>
        <h4><%= name %></h4>
        <p class='text'>
          <%= feature_description %>
        </p>
        <% if (typeof role !== 'undefined') { %>
        <p class='info'>
          <span>My roles.</span>
          <%= role %>
        </p>
        <% } %>
        <% if (typeof ext_url !== 'undefined') { %>
        <p class='info'>
          <span>Website.</span>
          <a href='<%= ext_url %>' target='_blank'><%= ext_url %></a>
        </p>
        <% } %>
      </div>
    </div>
  </script>

  <script type='text/template' id='template-portfolio-grid-item'>
    <li class='portfolio-grid-item' data-project-type='<%= type %>'>
      <a href='/portfolio/<%= id %>'>
        <img src='portfolio/thumbnails/<% if (typeof thumbnail !== 'undefined') { print(thumbnail) } else { print(id + '.jpg') } %>'>
        <div class='portfolio-name'>
          <div class='caption'>
            <% if (typeof menu_name !== 'undefined') { print(menu_name) } else { print(name) } %>
            <br>
            <% if (typeof menu_location !== 'undefined') { %>
            <span class='subtitle'><%= menu_location %></span>
            <% } else if (location !== window.location) { %>
            <span class='subtitle'><%= location %></span>
            <% } %>
          </div>
        </div>
      </a>
    </li>
  </script>

</section>


    </div>

    <footer>
  <div class='row'>
    <ul class='contact'>
      <li class='email'><i class='fi-mail'></i> <a href='mailto:lou@louhuang.com'>lou@louhuang.com</a></li>
      <li class='phone'><i class='fi-telephone'></i> 510.364.0641</li>
      <li class='twitter'><i class='fi-social-twitter'></i> <a href='http://twitter.com/saikofish' target='_blank'>saikofish</a></li>
    </ul>
  </div>
  <div class='row hide-for-print'>
    <div class='small-8 small-centered columns epilogue'>
      <span class='quote'>Speed has never killed anyone. Suddenly becoming stationary, that's what gets you.</span>
      <span class='author'>Jeremy Clarkson</span>
    </div>
  </div>
</footer>

    <script src='/js/vendor/underscore-min.js'></script>
<script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js'></script>
<script>window.jQuery || document.write('<script src=\'/js/vendor/jquery.min.js\'><\/script>')</script>

<script src='/js/vendor/fastclick.js'></script>
<script src='/js/vendor/foundation.min.js'></script>

<script src='/js/plugins.js'></script>
<script src='/js/main.js'></script>


    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84293-2', 'louhuang.com');
  ga('send', 'pageview');

</script>


  </body>
</html>
