.dimbg {
    filter: alpha(opacity=75); /* IE 7 and Earlier */
    /* Next 2 lines IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
}
#d-portfolio {
	/* IE prioritizes % width over px min-width, so that the width of the porfolio box is always 60% of window. */
	/* All other browsers prioritize min-width so that width is always at minimum 700px. This overides it */
	/*    by setting a fixed width. Not a good fix but it prevents breaking for now */
	width: 700px;
}