<div class='top-bar-container contain-to-grid sticky'>
  <nav class='top-bar' data-topbar>
    <ul class='title-area'>
      <a href='/'>
        <li class='name'>
          <div class='logo'></div>
          <h1>
            Lou Huang
          </h1>
        </li>
      </a>
      <li class='toggle-topbar menu-icon'><a href='#'><span></span></a></li>
    </ul>
    <section class='top-bar-section'>
      <ul class='right social-icons'>
        <li>
          <a href='https://twitter.com/saikofish' target='_blank'><i class='fi-social-twitter'></i> <span>Twitter @saikofish</span></a>
        </li>
        <li>
          <a href='http://www.linkedin.com/in/louhuang' target='_blank'><i class='fi-social-linkedin'></i> <span>LinkedIn</span></a>
        </li>
        <li>
          <a href='https://github.com/louh/' target='_blank'><i class='fi-social-github'></i> <span>GitHub @louh</span></a>
        </li>
        <li class='hide-for-small'>
          <a href='http://instagram.com/saikofish?ref=badge' target='_blank'><i class='fi-social-instagram'></i></a>
        </li>
      </ul>
    </section>
  </nav>
</div>