---
title: Resumé
---
<section id='resume'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Lou Huang</h2>
      <p class='subtitle'>Urban designer. Web developer. Civic technologist.</p>
    </div>
  </div>
  <div class='row'>
    <div class='medium-7 columns'>
      <h4>Experience</h4>
      
      <p><strong><a href='http://www.codeforamerica.org/' target='_blank'>Code for America</a></strong> San Francisco, CA
      <br>Fellow (2013)</p>

      <p><strong><a href='https://generalassemb.ly/' target='_blank'>General Assembly</a></strong> San Francisco, CA
      <br>Expert-in-Residence (2013)</p>
      
      <p><strong><a href='http://www.umloud.org/' target='_blank'>Ümloud!</a></strong>  San Francisco, CA
      <br>Art Director (2012)</p>
      
      <p><strong><a href='http://www.vmwp.com/' target='_blank'>Van Meter Williams Pollack</a></strong>  San Francisco, CA
      <br>Urban Designer (2011-2012)</p>
      
      <p><strong><a href='http://www.bkurbandesign.com/' target='_blank'>Brown & Keener Urban Design</a></strong>  Philadelphia, PA
      <br>Intern/Designer (2009-2010)</p>
      
      <p><strong><a href='http://www.issuu.com/pennpanorama/docs/2010_panorama/1' target='_blank'>Panorama</a></strong>  University of Pennsylvania, Philadelphia, PA
      <br>Design Editor (2008-2010)</p>
      
      <p><strong><a href='http://www.cromearchitecture.com/' target='_blank'>Crome Architecture</a></strong>  San Rafael, CA
      <br>Designer, Project Manager (2004-2008)</p>

      <h4>Education</h4>
      
      <p><strong><a href='http://www.design.upenn.edu/' target='_blank'>University of Pennsylvania School of Design</a></strong>
      <br>Master of City Planning, Class of 2010
      <br>Concentration in Urban Design</p>
      
      <p><strong><a href='http://arch.ced.berkeley.edu/' target='_blank'>University of California, Berkeley</a></strong> 
      <br>Bachelor of Arts in Architecture, Class of 2004
      <br>Minor in Social and Cultural Factors in Environmental Design</p>
      
      <h4>Awards</h4>
      
      <p><strong><a href='http://www.saccatalyst.com/' target='_blank'>Sacramento Catalyst Competition</a></strong>  Sacramento, CA 
      –  2011 Second Place Winner</p>
      
      <p><strong><a href='https://sites.google.com/site/hinesdesign2010/' target='_blank'>ULI / Gerald D. Hines Student Urban Design Competition</a></strong>  San Diego, CA 
      –  2010 Finalist, Team Leader</p>
      
      <p><strong>Department of City and Regional Planning Special Award for Excellence in 
      Student Publications</strong> – 2010</p>

    </div>
    
    <div class='medium-5 columns'>
      <h4>Skills</h4>

      <p>
        <strong>Web Development</strong>
        <br>HTML5, CSS3, JavaScript
        <br>jQuery
        <br>Node.js
        <br>Angular
        <br>PHP
        <br>MySQL
      </p>

      <p>
        <strong>Software</strong>
        <br>Photoshop
        <br>InDesign
        <br>Illustrator
        <br>Lightroom
        <br>SketchUp
        <br>ArchiCAD
        <br>ArcGIS
        <br>OpenStreetMap
        <br>MapBox / Google Maps API
      </p>
      
      <h4>Professional Affiliations</h4>
      
      <p>
        <strong>LEED AP</strong>  Neighborhood Development<br>
        <!-- <strong>American Planning Association</strong>  Member<br> -->
        <strong><a href='http://spur.org/' target='_blank'>SPUR</a></strong>  Member
      </p>

    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <a href='/resume/louhuang-resume.pdf' class='button'><i class='fi-download'></i> Download PDF</a>
    </div>
  </div>
</section>