@import 'vendor/normalize.css';
@import 'vendor/main.css'; // HTML5 Boilerplate default CSS file
@import '../fonts/foundation-icons.css';

// VARIABLES
$main-color:          #5d6262;
$accent-color:        #d83432;
$link-color:          darken($accent-color, 10%);
$background-color:    rgb(238,238,238);
$black:               #222;
$x-small-screen:      480px;

$portrait-size:       250px;
$portrait-size-small: 200px;

// IMPORTS
@import 'bourbon/bourbon';
@import 'settings';
@import 'foundation';

// MEDIA QUERIES
// These are not Foundation defaults but created for convenience
// This depends on some other Foundation variables, so put it after the Foundation import
$x-small-only: '#{$screen} and (max-width: #{$x-small-screen - 1px})';
$x-small:      '#{$screen} and (min-width: #{$x-small-screen})';
$bleed-dimensions: 970px; // or 1024px

$retina-screen: 'only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';

// RESETS
* {
  box-sizing: border-box;
}

// TYPOGRAPHY
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-regular-webfont.woff') format('woff'),
       url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-bold-webfont.woff') format('woff'),
       url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: 'Neris';
    src: url('../fonts/Neris-Light-webfont.eot');
    src: url('../fonts/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-Light-webfont.woff') format('woff'),
         url('../fonts/Neris-Light-webfont.ttf') format('truetype'),
         url('../fonts/Neris-Light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neris';
    src: url('../fonts/Neris-SemiBold-webfont.eot');
    src: url('../fonts/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Neris-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// LAYOUT

body {
  overflow-x: hidden;

  // Sticky footer
  // -webkit- prefix required for Safari 7
  // Note that modern flexbox support is lacking in Bourbon right now
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.top-bar-container {
  border-bottom: 1px solid darken($background-color, 5%);
}

nav {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .name {
    text-transform: uppercase;
    white-space: nowrap;
    h1 {
      padding-left: 95px !important;
    }
  }
  .logo {
    width: 90px;
    height: 100%;
    position: absolute;
    background: transparent url('../img/logo.png') center center no-repeat;
    background-size: cover;
    top: 0;
    @media #{$retina-screen} {
      background-image: url('../img/logo@2x.png');      
    }
  }
  .top-bar-section {
    // Hack for bottom border
    overflow: hidden;
  }
  .top-bar-section ul {
    // Hack for bottom border
    @media #{$small} {
      margin-top: -1px;
    }
  }
  .social-icons {
    @media #{$small-only} {
      // For mobile dropdown, add a right margin to icons
      i {
        display: inline-block;
        width: 22px;
        margin-right: 6px;
      }
    }
    @media #{$small} {
      // For non-mobile screens, hide text
      span {
        display: none;
      }
    }
  }
}
// Hitbox hack for menu-icon
.top-bar .toggle-topbar.menu-icon {
  // Override nonsensical positioning defaults
  right: 0;
  top: 0;
  margin-top: 0;
  padding: 0;
  a { 
    // Assume square hitbox
    width: $topbar-height;
    height: $topbar-height;
    span {
      // Position hamburger in center of hitbox
      right: ($topbar-height - 16px) / 2;
      top: ($topbar-height) / 4;
    }
  }
}
// Override menu dropdown font size on desktop
.top-bar-section ul li > a {
  @media #{$small} {
    font-size: rem-calc(26);
  }
}

.content {
  // Sticky footer
  // -webkit- prefix required for Safari 7
  -webkit-flex: 1;
  flex: 1;
  // Hack to make flex not completely broken on IE11
  // It doesn't actually make it work, but prevents it from floating on the content.
  // See discussion here: https://github.com/philipwalton/solved-by-flexbox/pull/8
  -ms-flex-preferred-size: auto;
}

#main {
  section {
    min-height: 400px;
    padding: 20px 0;
    @media #{$small} {
      padding: 40px 0;
    }
    @media #{$large} {
      padding: 60px 0;
    }
  }
  section:not(#portfolio) {
    ul {
      margin-left: 20px;
    }
  }
}

section {
  .background-2 {
    background-color: lighten($background-color, 4%);
  }
}

footer {
  background-color: $main-color;
  color: darken($background-color, 20%);
  padding: 40px 0;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  @media #{$medium} {
    padding: 50px 0;
  }
  @media #{$large} {
    padding: 60px 0;
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
    &:last-of-type {
      margin-right: 0;
    }
    @media #{$x-small-only} {
      margin-right: 0 ;
      width: 100%;
    }
  }
  a {
    // Override default link color styles
    color: darken($background-color, 20%);
    &:hover, &:active {
      color: darken($background-color, 10%);
    }
  }
  i {
    margin-right: 5px;
  }
  .contact-info {
    margin-bottom: 30px;
  }
}

.bleed {
  // This class, when used with a 'columns' div class, pushes it to the edge of the mobile screen.
  // Great for images that should take up more room.
  @media #{$screen} and (max-width: #{$bleed-dimensions}) {
    // Eliminates side padding, if any
    padding-left: 0;
    padding-right: 0;
  }
  @media #{$small-only} {
    & > a img {
      // Eliminates left and right borders of images, if any
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
}

.small-bleed {
  @media #{$small-only} {
    padding-left: 0;
    padding-right: 0;
    & > a img {
      // Eliminates left and right borders of images, if any
      border-left: 0 !important;
      border-right: 0 !important;
    }
  }
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: lighten($link-color, 10%);
    text-decoration: underline;
  }
}


// HEADINGS

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  color: $main-color;
  font-weight: normal;
  font-weight: 300;
  letter-spacing: -1px;
}

h1 {
  -webkit-font-smoothing: antialiased; /* Prevents fonts looking so bold on Mac */
}

h3 {
  margin-bottom: 10px;
}

h4 {
  color: lighten($main-color, 9%);
}

// SECTIONS

#about {
  position: relative;
  min-height: 350px;
  .portrait {
    width: $portrait-size;
    height: $portrait-size;
    border-radius: 50%;
    background: transparent url('../img/portrait.jpg') center center no-repeat;
    background-size: cover;
    margin: 10px auto;
    &:before {
      // Image preload hack
      content: url('../img/portrait-doodle.png');
      display: none;    
    }
    &:hover, &:active {
      background-image: url('../img/portrait-doodle.png');
      cursor: pointer;
    }
    @media #{$retina-screen} {
      background-image: url('../img/portrait@2x.jpg');
      &:before {
        // Image preload hack
        content: url('../img/portrait-doodle.png@2x');
        display: none;    
      }
      &:hover, &:active {
        background-image: url('../img/portrait-doodle@2x.png');
      }
    }
    @media #{$small-only} {
      width: $portrait-size-small;
      height: $portrait-size-small;
    }
  }
  .bio {
    @media #{$small} {
      // Manual vertical centering.
      margin-top: 30px;
    }
  }
}

#projects {
  // Featured projects
  div.row {
    margin-bottom: 10px;
    @media #{$medium} {
      margin-bottom: 20px;
    }
  }
  img {
    margin-bottom: 10px;
    border: 1px solid darken($background-color, 8%);
  }
  .info {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 85%;
    color: gray;
    span {
      color: $link-color;
    }
    a {
      color: gray;
    }
  }
}

#portfolio {
  background-color: $background-color;
  .filter-label {
    font-size: 85%;
    color: $link-color;
    padding-right: 10px;
  }
  .filter {
    background-color: darken($background-color, 6%);
    color: gray;
    font-weight: normal;
    &:hover, &:active, &.highlight:hover, &.highlight:active {
      background-color: lighten($link-color, 6%);
    }
    &.highlight {
      background-color: $link-color;
    }
    &:hover, &:active, &.highlight {
      color: white;
    }
  }
}

#portfolio-grid {
  .portfolio-grid-item {
    padding: 0.625em; // Default has extra bottom padding and no top padding - this makes it equal all around
    @include transition (opacity 100ms ease-in);
    // The following CSS fixes a rendering bug that causes the width of the images to 'jog' by a pixel when
    // fading in/out. More info: http://stackoverflow.com/questions/15152470/chrome-rendering-issue-fixed-position-anchor-with-ul-in-body/15203880#15203880
    -webkit-transform: translateZ(0);
    &.faded {
      @media #{$small} {
        opacity: 0.25;
      }
    }
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
  }
  img {
    width: 100%;
  }
  a {
    // Disable highlighting that occurs on tap
    // See here: http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    &:hover {
      // Override default link behavior
      text-decoration: none;
    }
  }
  .portfolio-name {
    position: relative;
    .caption {
      margin-top: 5px;
      color: $black;
      font-weight: bold;
      line-height: 16px;
      @media #{$small-only} {
        font-size: 14px;
        line-height: 14px;
      }
    }
    .subtitle {
      font-size: 12px;
      color: #777;
      font-weight: normal;
    }
  }
}
#talks {
  iframe {
    width: 100%;
    height: 100%;
  }
}

// OTHER PAGES
#project  {
  .slideshow-wrapper {
    min-height: 200px;
    &.legacy {
      max-width: 650px;
    }
  }
  .project-images {
  }
  .orbit-bullets {
    margin-bottom: 10px;
  }
  .project-title {
    margin-top: 20px;
  }
  .project-data .row {
    line-height: rem-calc(24);
  }
  .project-data-key {
    font-size: 80%;
    text-transform: uppercase;
    color: gray;
  }
  .project-description {
    margin-top: 16px;
  }
  // Orbit tweaks
  .orbit-container {
    .orbit-prev,
    .orbit-next {
      top: 50%;
      margin-top: -60px;
    }
    .orbit-caption {
      @media #{$small-only} {
        position: relative;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

#resume {
  padding-top: 20px;
  .subtitle {
    margin: 0;
    font-weight: bold;
    color: gray;
    position: relative;
    top: -14px;
    left: 2px;
  }
}

#resume, #project {
  padding-bottom: 20px;
  @media #{$medium} {
    padding-bottom: 30px;
  }
}

#templates {
  display: none;
}

// STUFF
.external-link {
  font-size: 80%;
  white-space: nowrap;
}

a.button {
  // Overrides default foundation behavior (transitioning background color on hover)
  @include transition (background-color 0s);
  box-shadow: none;
  -webkit-box-shadow: none;
  &:hover, &:active {
    text-decoration: none;
  }
}

div.epilogue {
  color: darken($background-color, 45%);
  .quote {
    &::after {
      content: '“';
    }
    &::before {
      content: '”';
    }
  }
  .author {
    text-transform: uppercase;
    font-size: rem-calc(10);
    white-space: nowrap;
    &::before {
      content: '— ';
    }
  }
}

.browsehappy {
  background-color: #ffffef;
  margin: 0;
  padding: 5px 20px;
  border-bottom: 1px solid lightgray;
  z-index: 9999;
}

// FOUNDATION BUG HACKS
// Fix for bullets not appearing correctly on iOS or Android
// see: http://foundation.zurb.com/forum/posts/656-orbit-bullet-position-on-ipad
.orbit-bullets, .touch .orbit-bullets{
  display: table;
  text-align: center;
}
.touch .orbit-container .orbit-prev, .touch .orbit-container .orbit-next {
  display: block;
}
