
// VARIABLES
$main-color:        #5d6262;
$accent-color:      #d83432;
//$link-color:        #7c8282;
$link-color:        darken($accent-color, 10%);
$background-color:  rgb(238,238,238);

$topbar-bg-color:         lighten($background-color, 5%);
$topbar-height:           60px;
$topbar-title-weight:     normal;
$topbar-title-font-size:  20px;
$topbar-link-color:       $main-color;
$topbar-link-bg-hover:    #5d6262;
$topbar-link-bg-active:   #5d6262;

// IMPORTS
@import 'bourbon/bourbon';
@import 'foundation';
@import 'foundation/components/_grid-5';

// OTHER CSSES
@import 'vendor/normalize.css';
@import 'vendor/main.css'; // HTML5 Boilerplate default CSS file
@import '../fonts/foundation-icons.css';


// RESETS
* {
  box-sizing: border-box;
}

// TYPOGRAPHY
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-regular-webfont.woff') format('woff'),
       url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat-bold-webfont.woff') format('woff'),
       url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
       url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
    font-family: 'Neris';
    src: url('../fonts/Neris-Light-webfont.eot');
    src: url('../fonts/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-Light-webfont.woff') format('woff'),
         url('../fonts/Neris-Light-webfont.ttf') format('truetype'),
         url('../fonts/Neris-Light-webfont.svg#nerislight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Neris';
    src: url('../fonts/Neris-SemiBold-webfont.eot');
    src: url('../fonts/Neris-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Neris-SemiBold-webfont.woff') format('woff'),
         url('../fonts/Neris-SemiBold-webfont.ttf') format('truetype'),
         url('../fonts/Neris-SemiBold-webfont.svg#nerissemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// LAYOUT

body {
  background: $background-color;
  color: $main-color;
  font: 16px/24px 'Neris', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.top-bar-container {
  border-bottom: 1px solid darken($background-color, 2%);
}

.sticky{
  position: fixed;
  z-index: 9999;
}

nav {
  .name {
    text-transform: uppercase;
    white-space: nowrap;
    a {
      padding-left: 95px !important;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .logo {
    width: 90px;
    height: 100%;
    position: absolute;
    background: transparent url('../img/logo.png') center center no-repeat;
    background-size: cover;
  }
  .social-icons li {
    font-size: 190%;
  }
}

section[role='main'] {
  // padding-top: $topbar-height;
  section {
    padding: 30px 0;
  }
}

footer {
  background-color: $main-color;
  color: darken($background-color, 20%);
  padding: 40px 0;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  h2 {
    display: none;
  }
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: 30px;
  }
  li:last-of-type {
    margin-right: 0;
  }
  a {
    color: darken($background-color, 20%);
  }
  i {
    margin-right: 5px;
  }
  .social {
    display: none;
  }
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: lighten($link-color, 10%);
    text-decoration: underline;
  }
  // IS THIS STILL USED?
  &.noborder {
    border-bottom: 0 none;
  }
}


// HEADINGS

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat';
  color: $main-color;
  font-weight: normal;
  font-weight: 300;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  -webkit-font-smoothing: antialiased; /* Prevents fonts looking so bold on Mac */
}

h2 {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1px;
}

h3 {
  font-size: 26px;
  line-height: 26px;
  letter-spacing: -1px;
}

h4 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -1px;
//  color: darken($accent-color, 25%);
  color: lighten($main-color, 10%);
  margin-top: 10px;
}

h5 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -1px;
}

h6 {
  font-size: 14px;
  line-height: 14px;
}

.small, small {
  font-size: 12px;
  line-height: 18px;
}

// SECTIONS

#about {
  height: 400px;
  background-color: lighten($background-color, 3%);
  position: relative;
}

#projects {
  div.row {
    margin-bottom: 10px;
  }
  img {
    margin-bottom: 10px;
  }
}

// STUFF

.portrait {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  margin-top: 70px;
  border-radius: 125px;
  background: white url('../img/portrait.jpg') center center no-repeat;
  background-size: cover;
}

.bio {
  // Manual vertical centering.
  margin-top: 100px;
}

.external-link {
  font-size: 80%;
  text-transform: uppercase;
  white-space: nowrap;
}

div.epilogue {
  color: darken($background-color, 45%);
  .quote {
    &::before {
      content: '”';
    }
    &::after {
      content: '”';
    }
  }
  .author {
    text-transform: uppercase;
    font-size: 80%;
    white-space: nowrap;
    &::before {
      content: '  — ';
    }
  }
}

// OLD



#d-resume {
  z-index: 6;
  width: 650px;
  padding: 10px;
  position: absolute;
  top: 0;
}

#port-loader {
  width: 100%;
  height: 400px;
  background: url('../img/loader.gif') center center no-repeat;
  display: none;
  position: absolute;
}
#port-menu, #port-project {
  margin-top: 0;
}
.menu-section {
  margin-bottom: 10px;
}
.menu-row {
  margin-left: 20px;
  margin-right: 20px;
  height: 180px;
  overflow: hidden;
  position: relative;
}
.menu-item {
  width: 280px;
  height: 180px;
  float: left;
  margin: 0 10px 0 0;
}

.menu-row img {
  position: absolute;
}
.menu-leftarrow, .menu-rightarrow {
  width: 15px;
  height: 180px;
  position: absolute;
  z-index: 5;
  background-color: #d6d6d6;
}
.menu-leftarrow {
  left: 10px;
}
.menu-rightarrow {
  right: 10px;
}
.menu-rightarrow img, .menu-leftarrow img {
  cursor: pointer;
}

.menu-title {
  z-index: 15;
  font-size: 13px;
  line-height: 14px;
  position: absolute;
  bottom: 0;
  width: 272px;
  -moz-opacity: .75;
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.caption {
  padding: 4px;
  background-color: #000;
  color: white;
  font-weight: bold;
}
.subtitle {
  font-size: 10px;
  color: #ccc;
  font-weight: normal;
}
#port-images div.caption {
  position: absolute;
  max-width: 500px;
  margin-left: 20px;
  margin-top: -50px;
  font-size: 11px;
  line-height: 100%;
  white-space: nowrap;
}

.scroller{
  width: 9999px;
  position: absolute;
  z-index: 0;
}
.scroller > div.loader {
  background: url('../img/loader.gif') no-repeat center center;
  height: 100%;
  float: left;
}
#port-images {
  width: 650px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

#port-info {
  width: 600px;
  min-height: 100px;
  max-height: 400px;
  margin-top: 5px;
  padding-right: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 160%;
}

#port-info p {
  margin-top: 12px;
}

.port-leftarrow, .port-rightarrow {
  width: 50px;
  height: 60px;
  top: 20%;
  overflow: hidden;
  position: absolute;
  display: none;
  z-index: 20;
}
.port-rightarrow {
  right: 0;
}
.port-rightarrow img, .port-leftarrow img {
  cursor: pointer;
  /* display: none;    //  HOVER DELEGATION DOESNT WORK */
}
.port-rightarrow img {
  position: absolute;
  right: 0;
}
#port-backbutton { 
  position: absolute;
  top: 40px;
  width: 20px;
  height: 20px;
  color: #fff;
  display: block;
  cursor: pointer;
  background: $main-color url('../img/backbutton.png') no-repeat left top;
  -moz-opacity: .50;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
#port-dropbutton {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 200px;
  height: 18px;
  padding: 1px 8px;
  color: #fff;
  display: block;
  font-size: 10px;
  line-height: 18px;
  cursor: pointer;
  background: $main-color url('../img/dropdown.png') no-repeat right top;
  -moz-opacity: .50;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
#port-dropdown {
  position: absolute;
  display: none;
  width: 245px;
  top: 70px;
  overflow: auto;
  z-index: 25;
  background-color: $main-color;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  h6 {
    font-size: 13px;
    font-weight: bold;
    line-height: 120%;
    color: #fff;
    border-bottom: 1px solid lighten($main-color, 10%);
    padding: 10px 0 6px 10px;
  }
  ul {
    padding: 0;
    margin: 0;
    line-height: 16px;
    li {
      border-bottom: 1px solid lighten($main-color, 10%);
      font-size: 11px;
      a {
        display: block;
        padding: 2px 0 2px 10px;
        color: #e9e9e9;
        text-decoration: none;
        &:hover {
          background-color: darken($main-color, 15%);
        }
      }        
    }
  }
}

.resume-left {
  width: 60%;
  float: left;
  padding: 0 20px 20px 0;
  border-right: 1px solid #d8d8da;
  margin-right: 12px;
}

.resume-right {
  width: 30%;
  float: left;
}

#col2 {
  a[href^='http']:not(.image):after {
    content: '';
    background: url('../img/extlink.gif') right center no-repeat;  
    padding-right: 14px;
    margin-right: 6px;
  }
  a[href$='.pdf']:after {
    content: '';
    background: url('../img/pdf.png') left center no-repeat;
    display: block;
    padding-left: 24px;
  }
}




