<Files .htaccess>
order allow,deny
deny from all
</Files>

Options +FollowSymLinks

# HOTLINKING DISABLED
RewriteEngine on
# allow hotlinking of files on chocolatemango
# multiple dir allow: RewriteCond %{REQUEST_URI} ^/(tacobell|bestfood|ever)
RewriteCond %{REQUEST_URI} ^/chocolatemango
RewriteRule ^.*$ - [L]

RewriteBase /
RewriteCond %{REQUEST_FILENAME} \.(gif|jpe?g|png)$ [NC]
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(.*\.)?corvalis.net/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*\.)?louhuang.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*\.)?louhuangphoto.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*\.)?sfpopos.com/.*$ [NC]
# allow special linking conditions to certain servers
RewriteCond %{HTTP_REFERER} !^http://(www\.ocf\.)?berkeley.edu/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*\.)?google.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*\.)?gmail.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*\.)?projectpath.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(.*\.)?posterous.com/.*$ [NC]
# RewriteRule (.*) /view_image.shtml?/$1 [R,NC,L]
RewriteRule \.(gif|jpg)$ - [F]

RedirectMatch ^/portfolio$ http://louhuang.com/#portfolio
RedirectMatch ^/portfolio/$ http://louhuang.com/#portfolio
RedirectMatch ^/resume$ http://louhuang.com/#resume
RedirectMatch ^/resume/$ http://louhuang.com/#resume
RedirectMatch ^/projects$ http://louhuang.com/#projects
RedirectMatch ^/projects/$ http://louhuang.com/#projects
RedirectMatch ^/contact$ http://louhuang.com/#contact
RedirectMatch ^/contact/$ http://louhuang.com/#contact
RedirectMatch ^/blog/$ http://louhuang.com/